.tabs {
  display: flex;
  align-items: center;
  margin-top: var(--margin-default-mobile);
  gap: 25px;
  padding-top: 6px;

  border-bottom: var(--border-blueCornflower-small);
}

.tabs-item__p {
  padding: 0 5px;
  margin: 0;

  line-height: 19px;
}

.tabs-item__hr {
  width: 100%;
  height: 2px;
  margin-top: 6px;

  background-color: var(--color-none);
}

.tabs-item__hr_active {
  background-color: var(--color-cornflower-blue);
}

@media (min-width: 768px) {
  .tabs {
    margin-top: var(--margin-default-tablet);
  }
}

@media (min-width: 1280px) {
  .tabs {
    margin-top: var(--margin-default-desktop);
  }
}