@import url("normalize.css");
@import url("./_fonts.css");
@import url("./_variables.css");
@import url("./_generic.css");

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  flex: 1 0 auto;

  background-color: var(--color-wild-sand);
}

.footer {
  flex: 0 0 auto;
}
